<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>

   <!-- Assume ____ is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://144.13.22.61:3306/LS
   </property>
   
   <!-- Add MySql username here -->
   <property name="hibernate.connection.username">
   
   </property>
   
   <!-- Add MySql password here -->
   <property name="hibernate.connection.password">
   
   </property>

   <!-- List of XML mapping files -->
	<mapping resource="User.hbm.xml"/>
	<mapping resource="Room.hbm.xml"/>
	<mapping resource="Child.hbm.xml"/>
	<mapping resource="Present.hbm.xml"/>
	<mapping resource="Request.hbm.xml"/>
	<mapping resource="Availability.hbm.xml"/>
	<mapping resource="Schedule.hbm.xml"/>

</session-factory>
</hibernate-configuration>